@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans+TC:wght@100;400&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;/* 取消所有元素預設的內外距 */
    box-sizing: border-box; /* 不累加邊框與內距 */
}
html,body{
    font-family: Helvetica,Arial,'Noto Sans TC','黑體-繁','Heiti TC','微軟正黑體','Microsoft JhengHei',sans-serif;
}
img{
    width: 100%; /* 自適應網頁大小 */
    display: block;/* 取消inline-block預設間距 */
}
a{
    text-decoration: none;
}
ol, ul{
    padding-left: 0;
}
li{
    list-style-type: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}
.banner_sp{ display: none; }
.navbar{ width: 100%; display: flex; justify-content: center; padding: 2rem 0; background-color: #6a3806; text-align: center; }
.nav_fixed{ position: fixed; top: 0; z-index: 100; box-shadow: 0 0 20px #00000085; }
.navbar a{ padding: 0 14px; border-right: 1px solid #fff ; }
.navbar a:last-child{ border-right: none; }
.navbar a h5{ font-size: 1.2rem; line-height: 2rem; color: #fff; text-align: center; }
.navbar a h5:hover{ color: #f1e8de; }
.navbar .nav_icon i{ margin-top: 8px; }
.navbar span{ font-size: 1rem; color: #fff; }
.coupon-title{ margin: 3rem auto 2rem; }
.coupon-title img{ width: 75%; margin: auto; }
.coupon-item .coupon-box{ width: 100%; display: flex; justify-content: center; flex-wrap: wrap; margin: auto; }
.coupon-item .coupon-box a{ margin: 0 12px; }
.coupon-item .coupon-box a:hover{ opacity: .7; }
.couponmerch-title{ width: 60%; margin: 5rem auto 4rem; }
.couponmerch-btn{ width: 80vw; max-width: 584px; height: 50px; background-color: #B74444; margin: 0 auto 3rem; text-align: center; border-radius: 10px; }
.couponmerch-btn:hover{ background: #a31d1d; }
.couponmerch-btn a{ font-size: 1rem; line-height: 3rem; color: #fff; text-align: center; }
.couponmerch-btn a span{ margin-right: 12px; }
.content_card{ display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: 100%; max-width: 1280px; margin: auto; }
.item_card{ display: flex; justify-content: center; width: 100%; flex-wrap: wrap; margin-bottom: 2rem; padding: 0 10px; }
.content_card .item_card .item_box{ margin: 20px 40px; max-width: 350px; }
.item_box{ font-family: 'Noto+Sans+JP','Zen Kaku Gothic New'; width: 100%; display: flex; flex-wrap: wrap; border-radius: 15px; padding: 19px 26px; background: #f5f5f5; color: #464646; font-weight: 400; }
.item_box .item_img{ max-width: 100%; max-height: 100%; width: 310px; height: 310px; object-fit: cover; }
.item_txt{ display: flex; width: 100%; flex-wrap: wrap; justify-content: center; }
.item_name{ display: -webkit-box; font-size: 1.3rem; font-weight: bold; color: #464646; line-height: 1.5rem; margin: 10px auto; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow: hidden; }
.item_price{ width: 100%; display: flex; justify-content: space-between; font-size: 3rem; color: #d1322f; font-weight: 900; margin: 22px 0 0 0; }
.item_price.deleted{ font-size: 1.25rem !important; text-decoration: line-through; height: 0; margin: 0 10px 0 0; justify-content: end; }
.item_price img{ max-width: 100%; width: 22%; }
.item_price span{ font-weight: 700; }
.item_price :last-child span{ font-size: 2rem;  margin-left: -5%;}
.item_txt .item_button{ width: 100%; display: flex; position: relative; justify-content: center; align-items: center; color: #fff; padding: 8px 0; margin: 8px 0; font-size: 1rem; border-radius: 8px; letter-spacing: 1px; }
.item_txt .item_button:hover{ transform: translateY(2px); transition: 100ms all ease-in-out; }
.item_txt .item_button::before{ content: ''; width: 100%; min-height: 105%; position: absolute; top: 2px; border-radius: 8px; }
.item_txt .item_button img{ width: 15%; position: absolute; right: 8px; }
.item_button.primary{ background: #de7039; }
.item_button.primary::before{ box-shadow: 0 0 0 1.5px #de7039; }
.item_button.gray{ background: #313131; }
.item_button.gray::before{ box-shadow: 0 0 0 1.5px #313131; }
.content_3card .item_box{ max-width: 318px; margin: 0 18px 3rem; }
.content_3card .item_box .item_img{ width: 268px; height: 240px; }
.content_3card .item_name{ font-size: 1.2rem; line-height: 1.5rem; margin: 10px auto; }
.product_item_card{ max-width: 850px; margin: 4rem auto; }
.product_item_card ul{ margin-bottom: 2rem; }
.product_item_card .item_card .item_box{ flex-wrap: nowrap; justify-content: space-between; padding: 22px; }
.product_item_card .item_box .item_img{ width: 400px; height: 400px; }
.product_item_card .item_box .item_txt{ max-width: calc(100% - 415px); padding-left: 22px; }
.product_item_card .item_box .item_txt .item_name{ font-size: 1.4rem; }
.product_item_card .item_box .item_txt .special{ justify-content: flex-start; align-items: flex-start; }
.product_card .item_card{ max-width: 1280px; overflow: hidden; margin: auto; }
.splide__list .splide__slide{ width: 25% !important ;}
.splide .product_card .item_card{ overflow: unset; flex-wrap: unset; }
.product_card .item_card .item_box{ margin: 0 18px; padding: 0; background: #fff; margin-bottom: 6rem; }
.product_card .item_card .item_box .item_img{ border-radius: 8px; }

/* 左右長bar */
.matsuri__block {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .matsuri__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    width: 100%;
    max-width: 60px;
    height: 100000vh;
    top: 0;
    z-index: 99;
  }

  .matsuri__box.right {
    right: 20px;
  }

  .matsuri__box.left {
    left: 20px;
  }

  .matsuri__banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-transition: 80ms all ease-in-out;
    -o-transition: 80ms all ease-in-out;
    transition: 80ms all ease-in-out;
    position: relative;
    top: 0;
    height: 100%;
    background-repeat: repeat-y;
    background-position: top;
    background-size: auto;
    background-image: url('/image/Straight.jpg');
  }

  .matsuri__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 100%;
    height: 300px;
    color: #d1322f;
    font-size: 2rem;
  }

  .matsuri__text div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    min-width: 140px;
    font-weight: bold;
  }

  .matsuri__text span {
    font-weight: bold;
  }
  .page-top a{  display: block; position: fixed; background-color: #C9BDA5;  border-radius: 50%; width: 50px; height: 50px; bottom: 40px; right: 96px; opacity: .8; z-index: 999; animation: jump 4s ease infinite; }
  .page-top a:hover{ background-color: #fff; transition: all .2s ease-in; }
  .page-top .fas { color: #fff;  position: absolute; left: 24%; top: 18%; font-size: 30px; }
  .page-top .fas:hover { color: #C9BDA5; }

  @keyframes jump{
    4% { transform: translateY(8px); }
    8% { transform: translateY(4px); }
    12% { transform: translateY(8px);  }
    16% { transform: translateY(0px);  }
  }

  /* RWD */
    @media all and (max-width:1440px){
        .product_card .item_box .item_txt .item_name{ font-size: 1.6rem; line-height: 2.4rem; }
    }
    @media all and (max-width:1024px){
      .coupon-item .coupon-box a{ width: 18%; }
    }
    @media all and (max-width:980px){
        .banner_sp{ display: block; }
        .banner_pc{ display: none; } 
        .matsuri__box{ display: none; }
        .coupon-title img{ width: 100%; }
        .coupon-item .coupon-box{ width: 100%; }
        .coupon-item .coupon-box a{ width: 30%; margin: 2.5rem 34px; }
        .couponmerch-title{ width: 96%; }
        .content_card .item_card .item_box{ margin: 8px 0.5%; max-width: 47%; padding: 16px; } 
        .content_card .item_card .item_box .item_img{ width: 100%; max-width: 43vw; height: 43vw; } 
        .item_name{ font-size: 3vw; } 
        .item_price{ font-size: 7vw; } 
        .item_price img{ width: 26%; } 
        .item_txt .item_button{ font-size: 14px; } 
        .content_3card .item_box{ margin: 0 4px; }
        .content_3card .item_box .item_price{ font-size: 6vw; }
    }
    @media all and (max-width:768px){
        .navbar a h5{ font-size: 3.5vw; line-height: 4.5vw; }
        .item_txt .item_name{ font-size: 3.5vw; line-height: 2rem; }
        .item_txt .item_button{ font-size: 2vw; }
        .content_3card .item_card{ margin: auto; }
        .content_3card .item_box{ max-width: 48%; margin-bottom: 2rem; margin: 12px 6px; padding: 18px;}
        .content_3card .item_box .item_img{ width: 100%; height: auto;}
        .content_3card .item_name{ font-size: 3.5vw; line-height: 2rem; margin-bottom: 1rem;}
        .content_3card .item_box .item_price{ font-size: 8vw; align-items: center; }
        .product_card .item_card{ width: 84%; margin: 0 auto 2rem; padding: 0;}
        .product_card .item_card .item_box{ flex-wrap: wrap; padding: 6px;}
        .product_card .item_box .item_img{ width: 100%; }
        .product_card .item_box .item_txt{ max-width: 100%; padding: 0; }
        .product_card .item_box .item_txt .item_name{ font-size: 3.5vw; line-height:2rem ;}
        .product_card .item__description{ font-size: 3vw; }
        .product_card .item_box .item_txt .special{ font-size: 8vw; justify-content: space-between; align-items: center; }
        .splide__list .splide__slide{ width: 256px !important; max-width: 256px; padding: 6px; }
        .page-top a{display: none;}
      }
      @media all and (max-width:425px){
        .coupon-title{ margin-bottom: 0; }
        .coupon-item .coupon-box a{ margin: 1.5rem 16px; }
        .couponmerch-title{ margin: 3rem auto 1.5rem; }
        .Couponmerch20 .couponmerch-box .content_card .item_card{ margin-bottom: 0; }
        .product_card .item_card .item_box{ margin-bottom: 2rem; }
        .content_3card .item_box{ max-width: 46%; }
        .content_3card .item_name{ line-height:1.5rem ; }
        .item_txt .item_name{ line-height: 1.2rem; }
        .item_price :last-child span{ font-size: 1rem; }
        .item_txt .item_button{ padding: 6px 0; margin: 5px 0; }
        .item_txt .item_button img{ right: 0; }
        .couponmerch-btn{ height: 40px; margin: 1rem auto 2rem; }
        .couponmerch-btn a{ line-height: 2.5rem; }
      }